/* iframe container div */
.video-container {
  margin: 10px 0 10px 10px;
  float: left;
  border-radius: 3px;
}

/* iframe */
.video {
  width: 1000px;
  height: 560px;
  border: none;
  border-radius: 3px;
}

/* holds list of snapshots */
.snapshot-panel {
  float: right;
  width: 220px;
  height: 560px;
  margin: 10px 10px 0 0;
  background-color: #27a5ff;
  border-radius: 3px;
}

/* span that holds each snapshot */
.snapshot-container {
  margin: 8.5px 8.5px 0 8.5px;
  border-radius: 3px;
}

.snapshot-container img {
  height: 100px;
  width: 200px;
  /* transition: transform .2s linear;
  transform: scale(1);
  transform-origin: top right; */
  cursor: zoom-in;
}

.backdrop {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  padding: 50;
};

.modal {
  border-radius: 5px;
  width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.modal-img {
  display: block;
  margin: 5% auto;
  width: 1000px;
  height: 560px;
  cursor: zoom-out;
}

/* div container for button */
.button-container {
  width: 1000px;
}

/* put a bird on it button */
.snap-button {
  font-size: 20px;
  color: #fff;
  height: 50px;
  width: 200px;
  border: none;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #27a5ff;
}
